@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@600;800&family=Inter&display=swap');

// Required
@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides
$body-bg: #27283D;
$body-color: #fff;

$headings-font-family: Epilogue;
$headings-font-weight: 700;


// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/utilities";

// Optional Bootstrap components here
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";