@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@600;800&family=Inter&display=swap');

// Required
@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides
$body-bg: #5869FF; // linear-gradient(180deg, #5869FF 0%, #3B3960 54.69%, #0A090B 100%);
$body-color: #fff;

$headings-font-family: Epilogue;
$headings-font-weight: 700;


// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/utilities";

// Optional Bootstrap components here
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// body, html {
//   height: 200%;
// }

.gradient-bg {
  background-image: linear-gradient(180deg, #5869FF 0%, #3B3960 54.69%, #0A090B 100%);
  background-repeat: no-repeat;
  height: 2167px;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80vh;
  max-height: 80vh;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 

  + .section {
    margin-top: 10vh;
  }
}

.stars {
  &:hover {
    animation: pulse;
    animation-duration: 0.5s;
  }

  width: 70%;
}

button.btn:hover {
  animation: pulse;
  animation-duration: 1s;
}

#rocket {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

#spaceship {
  --size: 64px;
  --offset-distance: 0%;
  max-height: var(--size);
  max-width: var(--size);
  position: absolute;
  transform: rotateZ(90deg);
  /* offset-path: path(
    "M269.5 2.99999C269.5 2.99999 195.843 123.363 157 237C82.0609 456.237 453.483 723.581 449 991.5C443.808 1301.79 36.5035 1272.23 4.99999 1549.5C-18.7093 1758.17 200.5 1835 294 2196C326 2530 294 2708.5 294 2708.5"
  ); */
/*   offset-rotate: 90deg; */
/*  offset-rotate property can also be animated since it is a number  */
  offset-distance: var(--offset-distance);
}

@keyframes move {
  100% {
    offset-distance: 100%;
  }
}

#path {
  height: auto;
}


.space-trail {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  height: inherit;
  border: 3px solid #73AD21;
}

#path svg {
  width: 80%;
}