@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- Container for the orbiting circles animation ---------- */
#circle-orbit-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 35vh;
  overflow: hidden;
}

#planet-navs {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70vh;

  .nav-planet:nth-child(1) { --nth-child: 1 }
  .nav-planet:nth-child(2) { --nth-child: 2 }
  .nav-planet:nth-child(3) { --nth-child: 3 }
}

.nav-planet {
  right:0;
  top:0;
  height: 100vh;
  position:absolute;
  text-align:center;
  display:flex;
  transform: rotateZ(calc(-45deg * var(--nth-child)));

  div {
    transform: rotateZ(calc(45deg * var(--nth-child)))
  }
}

.orbit-spin-short {
  -webkit-animation: spin-right 7s linear infinite;
  animation: spin-right 7s linear infinite;
}

.orbit-spin-long {
  -webkit-animation: spin-right 10s linear infinite;
  animation: spin-right 10s linear infinite;
}
/* = (100 - width) / 2 */
#first-orbit {
  position: absolute;
  top: 12.5vh;
  left: calc((120vh - 75vh) / 2);
  width: 75vh;
  height: 75vh;
  border: 10px white solid;
  border-radius: 100%;
}

.first-orbit-circle {
  position: absolute;
  top: 50vh;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  background-color: #FFF;
  
}

#second-orbit {
  position: absolute;
  top: 5vh;
  left: calc((120vh - 90vh) / 2);
  width: 90vh;
  height: 90vh;
  border: 10px white solid;
  border-radius: 100%;
}

.second-orbit-circle {
  position: absolute;
  top: 60vh;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  background-color: #FFF;
}

.planet {
  position: relative;
  width: 70vh;
  max-width: 70vh;
  height: 70vh;
  top: 15vh;
  right: 0;
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}