@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- Container for the orbiting circles animation ---------- */
#circle-orbit-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 35vh;
  overflow: visible;
}

#planet-navs {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70vh;

  .nav-planet:nth-child(1) { --nth-child: 1 }
  .nav-planet:nth-child(2) { --nth-child: 2 }
  .nav-planet:nth-child(3) { --nth-child: 3 }
}

.nav-planet {
  right:0;
  top:0;
  height: 100vh;
  position:absolute;
  text-align:center;
  display:flex;
  transform: rotateZ(calc(-45deg * var(--nth-child)));
}

.planet-nav-img {
  transform: rotateZ(calc(45deg * var(--nth-child)));
}

.planet {
  position: relative;
  width: 60vh;
  max-width: 60vh;
  height: 60vh;
  top: 0;
  left: 50%;
}

.classic-orbit {
  animation: classic-spin 10s linear infinite;
}
.orbit {
  animation: spin 10s linear infinite;
}

.hover-spin:hover {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform:rotate(calc(45deg * var(--nth-child)));
  }
  to {
    transform:rotate(calc(360deg + 45deg * var(--nth-child)));
  }
}

@keyframes classic-spin {
  from {
    transform:rotate(calc(45deg));
  }
  to {
    transform:rotate(calc(360deg + 45deg));
  }
}