@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  @apply font-inter
}

:root {
  -ms-overflow-style: none;
  scrollbar-width: none;
  @apply bg-gradient-to-br from-indigo-950 to-slate-950;
}

:root::-webkit-scrollbar { 
  display: none;
 }


canvas {
  width: 100%;
  height: auto;
  overflow: hidden;
  aspect-ratio: 1280 / 800;
}

.modal-content * {
  @apply overflow-y-visible;
}

.font-inter {
  font-weight: 300;
}