*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: "white";
  background-color: #121212;
  position: relative;
  color: white;
  overflow-x: hidden;
}

#spaceship {
  --size: 64px;
  --offset-distance: 0%;
  max-height: var(--size);
  max-width: var(--size);
  position: absolute;
  transform: rotateZ(90deg);
  /* offset-path: path(
    "M269.5 2.99999C269.5 2.99999 195.843 123.363 157 237C82.0609 456.237 453.483 723.581 449 991.5C443.808 1301.79 36.5035 1272.23 4.99999 1549.5C-18.7093 1758.17 200.5 1835 294 2196C326 2530 294 2708.5 294 2708.5"
  ); */
/*   offset-rotate: 90deg; */
/*  offset-rotate property can also be animated since it is a number  */
  offset-distance: var(--offset-distance);
}

@keyframes move {
  100% {
    offset-distance: 100%;
  }
}

#path {
  width: fit-content;
}

/* #path svg {
  height: 100%;
}

#path {
  position: absolute;
  top: 0;
  left: 0;
} */